.complaint-policy {
	margin: 5rem auto;
	letter-spacing: 0.8px;
	font-size: 1.6rem;

	@mixin atMedium {
		font-size: 1.8rem;
		margin: 10rem auto;
	}

	ol {
		line-height: 1.5;

		li {
			margin-bottom: 2rem;
		}
	}

	ul {
		li {
			margin-bottom: 1rem;
		}
	}

	a {
		color: $tertiary-color;
	}
}