.divider {

  width: 100%;
  display: flex;
  flex-direction: column;

  @mixin atSmall{
    flex-direction: row;
  }

  &__col {
    flex: 1;
  }

  &__col-1-2 {
    width: 100%;

    @mixin atLarge {
      width: 50%;
    }
  }

  &__col-2-3 {
    width: 66.6666%;
  }

  &__col-1-3 {
    width: 100%;

    @mixin atLarge {
      width: 33.3333%;
    }
  }

  &__col-1-4 {
    width: 100%;

    @mixin atLarge {
      width: 25%;
    }
  }
}
