.subtitle {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 300;
  background-color: $primary-color;
  color: #fff;
  width: 90%;
  z-index: 9999;
  display: block;
  padding: 2rem;
  margin: 10rem auto 7rem auto;

  @mixin atMedium {
    width: 50%;
    font-size: 5rem;
  }
}
